* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background:black;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #00adb5;
}

/* Home */
.home {
    height: 90vh;
    background: linear-gradient(to right, #00adb5, #393e46);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(nature.png);
    
    
}

.home span {
    color: #ffd369;
}

.home button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #ffd369;
    cursor: pointer;
}

/* Sections */
section {
    padding: 60px 40px;
    text-align: center;
}

.skills-container, .project-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skill, .project {
    background: white;
    padding: 20px;
    width: 180px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Contact */
form {
    max-width: 400px;
    margin: auto;
}

form input, form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

form button {
    width: 100%;
    padding: 10px;
    background: #00adb5;
    border: none;
    color: white;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
